body {
  text-align: center;
  background-color: #6e89f5ea;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #1904dac7;
/* box-sizing: calc(20px + 20px);
  backdrop-filter: blur(20px); */
}

footer {
  color: rgb(177, 230, 227);
  font-family: sans-serif;
 
}

.w {
  background-image:url("./images/crash.png");

}

.a {
  background-image: url("./images/kick.png");
}

.s {
background-image: url("./images/snare.png");
}

.d {
background-image:url("./images/tom1.png")
}

.j {
background-image: url("./images/tom2.png");
}

.k {
background-image: url("./images/tom3.png");
}

.l {
background-image: url('./images/tom4.png');
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: rgb(162, 0, 255);
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #166a87;
  opacity: 0.5;
}

.red {
  color: rgb(255, 238, 0);
}

.drum {
  outline: none;
  border: 10px solid #133db1;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #04da9a;
  text-shadow: 3px 0 #f3efdbb0;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  white-space:nowrap;
  overflow:hidden;
  
}
.me {
  box-sizing:border-box;
  backdrop-filter:blur(50px);
  display:flex;
  margin-left:auto;
  margin-right: auto;
  width:50%;
  border-radius: 4%;
 
}
